* {
    padding: 0px;
    margin: 0px;
    font-family: 'Oleo Script Swash Caps', cursive;
}


/* ESTILOS FONDOS */


.bodyindex {
    background-image: url(/img/logos_fondos/fondoindex.jpg);
    background-size: cover;
}


/* ESTILOS INDEX */

.navindex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    color: #F1C40F;
}


.subtitulo {
    text-align: center;
    font-size: 30px;
    letter-spacing: 30px;
    color: #F4D03F;
    margin-bottom: 20px;
}

.botonlink {
    border-style: none;
}

.link {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
}

.link .imgindex {
    transition: all 1s ease;
}

.link:hover .imgindex {
    transform: scale(1.5);
}

.imgindex {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.footer{
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #7B241C;
    margin-top: 20px;
}

@media only screen and (max-width : 600px) {
    .navindex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    };
}


@media only screen and (max-width : 600px) {
    .footer {
flex-direction: column;
justify-content: center;
align-items: center;
    };
}

/* ESTILOS BOTÓN ATRÁS */

.contenedor-atras{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.atras {
    border-style: none;
}

.atras {
    overflow: hidden;
    border-radius: 50%;
    margin-top: 50px;
}

.imgatras {
    width: 150px;
    height: 150px;
}

/* ESTILOS JUEGOS */

.contenedorjuegos {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.btn {
    border-style: none;
}

.imgjuegos {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}